# Configurações do MongoDB
MONGO_URI=mongodb+srv://user:senha@seubanco.mongodb.net/?appName=seubanco
PORT=5000

# Configurações do Servidor Receptor
API_URL=http://localhost:5000/receptor

# Configurações do Simulador
TOTAL_VIRTUAL_SENSORS=5
MESSAGES_PER_BURST=3
DELAY_BETWEEN_BURSTS=10
DELAY_IN_BURST=0.5